rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Rules for 'users' collection (now unused)
    match /users/{userId} {
      allow read, write: if false;
    }

    // Rules for 'sales' collection
    match /sales/{saleId} {
      allow read, write: if true;
    }

    // Rules for 'quotes' collection
    match /quotes/{quoteId} {
      allow read, write: if true;
    }
    
    // Rules for 'settings' collection
    match /settings/{docId} {
       allow read, write: if true;
    }
  }
}
